# Data files
data/**/*.csv
data/**/*.parquet
data/**/*.gz

# Environment
.env
.venv
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.duckdb
*.duckdb.wal
*.db

# Power BI
*.pbix

# Logs
*.log

# OS files
desktop.ini
Thumbs.db
.DS_Store
